.form--card{
    background-color: silver;
    border-radius: 15px ;
    width: 250px;
    height: 700px;
    margin: 0 auto;
    margin: 120px;
    box-shadow: 0 0 100px rgba(0,0,0,0.2);
    background-image: url("../../assets/images/registerbg.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;

}