.activate--pg{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    width: 100vw;
    height: 100vh;
    /* background-image: url("../../../public/images/img5.jpg"); */
    background-repeat: repeat-y;
    background-size: cover;
    /* Center and scale the image nicely */
    background-position: center;
}

.activate--form{
    align-self: center;
    /* display: flex; */
    flex-direction: column;
    box-shadow: 0px 0 30px rgba(159, 164, 172, 0.538);
    padding: 2rem;
    max-width: 400px;
    width: 100vw;
    margin: 0.7em auto;
    background-color: white;
    padding-top: 4rem;
}
.activate--form> input, .activate--btn{
    border: 1px solid #e9e7e7;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.activate--form > .activate--btn{
    background-color: #292929;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;

  }
  .activate--form > input:focus {
    outline: none;

  }