.activate--container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-y;
    background-size: cover;
    /* Center and scale the image nicely */
    background-position: center;
    position: relative;
    padding: 10px;

}

.activate--form{
    align-self: center;
    /* display: flex; */
    flex-direction: column;
    padding: 2rem;
    max-width: 400px;
    width: 100vw;
    margin: 0.7em auto;
    /* background-color: white; */
    position: relative;
    left: 30%
}
.activate--form > input, .activate--btn{
    border: 1px solid #e9e7e7;
    padding: 0.5em 1em;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.activate--form > .activate--btn{
    background-color: #292929;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;

  }
  .activate--form > input:focus {
    outline: none;

  }