.card--style{
    background-color: #E7D2D2;
    width: 500px;
    height: 500px;
    border-radius: 30px ;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    /* background: url("../assets/images/courier-logo.jpeg") no-repeat; */
    /* text-align: ; */
    /* align-items: ; */
    /* display: flex; */
    /* flex-direction: column; */
}