

.signup--bg{
  display: flex;
  justify-content: center;
  align-content: center;

  width: 100vw;
  height: 100vh;

}
.signup--form {
width: 100%;
box-shadow: 0px 0 30px rgba(159, 164, 172, 0.538);
padding: 2rem; 
max-width: 400px;
/* width: 100vw; */
margin: 0.7em auto;
background-color: white;
padding-top: 4rem;




}

input {
    margin-bottom: 15px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}

.signup--form > input
.signup--btn {
  border: 1px solid #e9e7e7;
  padding: 0.5em 1em;

  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.signup--form > .signup--btn {

    background-color: #292929;
    color: #e9ecef;
    font-size: 1rem;
    cursor: pointer;
  }

  .signup--form > input:focus {
    outline: none;
  }

  .signup--form{
    align-self: center;
    box-shadow: 0px 0 30px rgba(159, 164, 172, 0.538);

    background-color: #00ff00;
    padding: 20px;
    margin: 20px;

  }